<h1>Disclaimer</h1>
<h4>Potential Incorrect Home-Ice Advantage</h4>

<p>
    Because all regular season and playoff games are played in the latest version of the EA NHL series on Xbox One, there is a possibilty that the Sycamore Cup Final or either Conference Final matchup may have incorrect home-ice advantage.
</p>
<p>
    This is possible because all playoff games are played in Playoff Mode, which seeds teams based on the current mostly division-based playoff format the NHL uses. Because of this, the following seed matchups in the Conference Finals and Sycamore Cup Final have a non-zero chance of having the wrong team being assigned home-ice advantage.
</p>
<ul>
    <li>Same-seed matchups &mdash; #1 seed vs. #1 seed, etc. (Sycamore Cup Final only)</li>
    <li>#1 seed vs. #2 seed</li>
    <li>#3 seed vs. #4 seed</li>
    <li>#5 seed vs. #6 seed</li>
    <li>#7 seed vs. #8 seed</li>
</ul>
<p>
    In the event that any of these matchups occur, Playoff Mode may determine home-ice advantage based on the regular season standings of the year of publication for the EA NHL game that these games are played in. For example, if the games are played in NHL 24 &mdash; which was published in 2023 &mdash; the 2022-23 regular season standings may be used in determining home-ice advantage in these scenarios.
</p>

<h3>Instances of Incorrect Home-Ice Advantage</h3>
<p>
    The matchups below indicate the seeding of both teams. The teams listed first are the teams that should have been assigned home-ice advantage.
</p>
<ul>
    <li>
        <strong>2025 Sycamore Cup Final:</strong>
        <a asp-controller="Schedule" asp-action="PlayoffSeries" 
           asp-route-season="2025" asp-route-team1="DAL" asp-route-team2="TB">
            <sup>E2</sup> Tampa Bay Lightning vs. <sup>W2</sup> Dallas Stars
        </a>
    </li>
    <li>
        <strong>2024 Eastern Conference Final:</strong>
        <a asp-controller="Schedule" asp-action="PlayoffSeries" 
           asp-route-season="2024" asp-route-team1="CAR" asp-route-team2="TOR">
            <sup>1</sup> Toronto Maple Leafs vs. <sup>2</sup> Carolina Hurricanes
        </a>
    </li>
    <li>
        <strong>2024 Western Conference Final:</strong>
        <a asp-controller="Schedule" asp-action="PlayoffSeries"
           asp-route-season="2024" asp-route-team1="COL" asp-route-team2="DAL">
            <sup>5</sup> Dallas Stars vs. <sup>6</sup> Colorado Avalanche
        </a>
    </li>
</ul>