@{
    ViewData["Title"] = "Scheduling Formula";
}

<h1>Scheduling Formula</h1>

<div id="scheduling-formula">
    <h4>2026-Future</h4>
    <h5>40 games</h5>
    <ul>
        <li>28 games vs. conference &mdash; 6 team &times; 3, 5 teams &times; 2</li>
        <li>12 games vs. other conference &mdash; 12 teams &times; 1</li>
    </ul>
    
    <h4>2024-2025</h4>
    <h5>40 games</h5>
    <ul>
        <li>12 games vs. division &mdash; 3 teams &times; 4</li>
        <li>16 games vs. rest of conference &mdash; 8 teams &times; 2</li>
        <li>12 games vs. other conference &mdash; 12 teams &times; 1</li>
    </ul>

    <h4>2023</h4>
    <h5>36 games</h5>
    <ul>
        <li>12 games vs. division &mdash; 3 teams &times; 2, 2 teams &times; 3</li>
        <li>12 games vs. rest of conference &mdash; 6 teams &times; 2</li>
        <li>12 games vs. other conference &mdash; 12 teams &times; 1</li>
    </ul>

    <h4>2022</h4>
    <h5>28 games</h5>
    <ul>
        <li>10 games vs. division &mdash; 5 teams &times; 2</li>
        <li>6 games vs. rest of conference &mdash; 6 teams &times; 1</li>
        <li>12 games vs. other conference &mdash; 12 teams &times; 1</li>
    </ul>

    <h4>2021</h4>
    <h5>16 games</h5>
    <ul>
        <li>10 games vs. division &mdash; 5 teams &times; 2</li>
        <li>6 games vs. other division &mdash; 6 teams &times; 1</li>
    </ul>
</div>