@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Sycamore Hockey League</h1>
    <p>Welcome to the official website of the Sycamore Hockey League!</p>
</div>
