@model List<Standings>
@inject SycamoreHockeyLeaguePortal.Data.ApplicationDbContext _context

@{
    int season = ViewBag.Season;

    var conferences = Model
        .Where(s => s.Season.Year == season)
        .Select(s => s.Conference)
        .Distinct()
        .OrderBy(c => c!.Name);
}

@foreach (var conference in conferences)
{
    <h3>@conference!.Name</h3>

    var teams = Model
        .Where(s => s.Season.Year == season &&
                    s.Conference == conference)
        .OrderBy(s => s.ConferenceRanking);
    ViewBag.Teams = teams;

    if (season >= 2021 && season <= 2023)
    {
        <partial name="Formats/2021-2023.cshtml" />
    }
    else
    {
        <partial name="Formats/2024-Present.cshtml" />
    }
}