<p>
    Circular ties, or all-way ties, occur when the Group Head-to-Head (H2H) Standings tiebreaker is applied to an odd number of teams, and it results in all of those teams having the same H2H record. This section outlines the tiebreaking procedures for circular ties in many different circumstances.
</p>

<h4>Inter-Conference</h4>
<p>
    If at least 1 team from both conferences are involved in a circular tie, follow these steps to break the tie.
    
    <h5>Three Teams</h5>
    <ol>
        <li>
            Apply the H2H Series tiebreaker to the two teams from the same conference. The loser of this tiebreaker will be temporarily ranked third within the tie.
        </li>
        <li>
            Apply the H2H Series tiebreaker to the odd team from the other conference, and the team that won the previous tiebreaker. The winner of this tiebreaker will be ranked first within the tie.
        </li>
        <li>
            If the odd team from the other conference loses the previous tiebreaker, apply the H2H Series tiebreaker to them and and the loser of the first tiebreaker. The winner of this tiebreaker will be ranked second within the tie, and the loser will be ranked third.
        </li>
    </ol>

    <h5>Five or More Teams</h5>
    <ol>

    </ol>
</p>

<h4>Within Conference</h4>
<p>
    <h5>Inter-Division Between Two Divisions</h5>
    <ol>
        <li>
            Apply H2H Series tiebreaker to the 
        </li>
    </ol>

    <h5>Inter-Division Between Three Divisions</h5>
    <ol>

    </ol>


    <h5>Within Division</h5>
    <ol>

    </ol>
</p>