<div class="row">
    <h4>Standings</h4>
    <div class="col">
        <ul>
            <li><strong>GP:</strong> Games Played</li>
            <li><strong>W:</strong> Wins</li>
            <li><strong>L:</strong> Losses</li>
            <li><strong>Win %:</strong> Win Percentage</li>
            <li><strong>GB:</strong> Games Behind</li>
            <li><strong>GF:</strong> Goals For</li>
            <li><strong>GA:</strong> Goals Against</li>
            <li><strong>GD:</strong> Goal Differential</li>
        </ul>
    </div>
    <div class="col">
        <ul>
            <li><strong>Streak:</strong> Current winning/losing streak</li>
            <li><strong>RW:</strong> Regulation Wins</li>
            <li><strong>ROW:</strong> Regulation + Overtime Wins</li>
            <li><strong>vs. Div.:</strong> W-L Record vs. Division</li>
            <li><strong>vs. Conf.:</strong> W-L Record vs. Conference</li>
            <li><strong>East/West:</strong> W-L Record vs. Opposite Conference</li>
        </ul>
    </div>
</div>
<div class="row">
    <h4>Playoff Statuses</h4>
    <div class="col">
        <h5>2022-Present</h5>
        <ul>
            <li><strong>P:</strong> Clinched President's Trophy</li>
            <li><strong>Z:</strong> Clinched conference</li>
            <li><strong>Y:</strong> Clinched division</li>
            <li><strong>X:</strong> Clinched home-ice advantage</li>
            <li><strong>x:</strong> Clinched playoff spot</li>
            <li><strong>e:</strong> Eliminated from playoff contention</li>
        </ul>
    </div>
    <div class="col">
        <h5>2021</h5>
        <ul>
            <li><strong>z:</strong> Clinched President's Trophy</li>
            <li><strong>y:</strong> Clinched division</li>
            <li><strong>x:</strong> Clinched playoff spot</li>
            <li><strong>e:</strong> Eliminated from playoff contention</li>
        </ul>
    </div>
</div>