<h4>Assigning Seeds</h4>
<p>
    16 teams will qualify for the Sycamore Cup Playoffs, <strong>8 teams per conference</strong>. Seeds in each conference will be assigned as described below:
    <table class="table playoff-seeds">
        <thead>
            <tr>
                <th>Seed #</th>
                <th>Assigned to</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>1-3</th>
                <td>Division leaders, from best to worst</td>
            </tr>
            <tr>
                <th>4-8</th>
                <td>Best 5 remaining teams</td>
            </tr>
        </tbody>
    </table>
</p>
<h4>Bracket</h4>
<img id="playoff-bracket" src="~/images/playoff-bracket.png" alt="Sycamore Cup Conference Playoff Bracket" />
<p>
    The bracket is fixed, meaning that teams are not reseeded after the Conference Quarterfinals.
</p>
<p>
    <span class="text-danger">Disclaimer:</span> Because the entirety of the playoffs are played in Playoff Mode, which is based on the current mostly division-based playoff format the NHL uses, home-ice advantage in the Conference Finals and Sycamore Cup Final is not guaranteed to be correct.
</p>