<p>
    In the standings, teams are sorted in descending order of their win percentage and W-L record. If at any point two or more teams have the same win percentage and W-L record, ties shall be broken as follows:
</p>

<ol class="tiebreakers">
    <li>
        Better W-L record against the other tied team(s).
    </li>
    <li>
        Greater amount of wins in regulation ("RW" column).
    </li>
    <li>
        Greater amount of wins in regulation or overtime ("ROW" column).
    </li>
    <li>
        Better W-L record against division opponents ("vs. Div." column).
    </li>
    <li>
        Better W-L record against conference opponents outside of their own division ("vs. Conf." column).
    </li>
    <li>
        Better W-L record against teams from the other conference ("EC/WC" column).
    </li>
    <li>
        Greater difference between goals for and goals against ("GD" column).
    </li>
    <li>
        Greater amount of goals for ("GF" column).
    </li>
    <li>
        Better W-L record in the last 10 games ("Last 10" column).
    </li>
    <li>
        Greater amount of consecutive wins, or lesser amount of consecutive losses ("Streak" column).
    </li>
</ol>