<p>
    In the standings, teams are sorted in descending order of their win percentage and W-L record. If at any point two or more teams have the same win percentage and W-L record, ties shall be broken as follows:
</p>

<h4>Two Teams</h4>
<h5>Same Division</h5>
<ol class="tiebreakers">
    <li>
        Whichever team leads the head-to-head season series.
    </li>
    <li>
        Greater amount of wins in regulation only ("RW" column).
    </li>
    <li>
        Greater amount of wins in regulation or overtime, excluding the shootout ("ROW" column).
    </li>
    <li>
        Better W-L record against division opponents ("vs. Div." column).
    </li>
    <li>
        Better W-L record against conference opponents outside of their division ("vs. Conf." column).
    </li>
    <li>
        Better W-L record in inter-conference games ("EC/WC" column).
    </li>
    <li>
        Greater difference between goals for and goals against ("GD" column).
    </li>
    <li>
        Greater amount of goals for ("GF" column).
    </li>
    <li>
        Better W-L record in their last 10 games.
    </li>
    <li>
        Greater amount of consecutive wins, or lesser amount of consecutive losses ("Streak" column).
    </li>
</ol>

<h5>Different Divisions</h5>
<ol class="tiebreakers">
    <li>
        Whichever team leads their division.
    </li>
    <li>
        If teams are from different conferences, whichever team is in a playoff spot.
    </li>
    <li>
        If both teams have the same ranking in their respective divisions, or neither team leads their division, or both teams share the same playoff status, apply the <strong>Same Division</strong> tiebreakers regardless of shared ranking.
    </li>
</ol>

<h4>Three or More Teams</h4>
<h5>Same Division</h5>
<ol class="tiebreakers">
    <li>
        Better W-L record in games played against the other teams in the tie ("Group Head-to-Head Standings").
    </li>
    <li>
        Greater amount of regulation wins only ("RW" column).
    </li>
    <li>
        Greater amount of wins in regulation or overtime, excluding the shootout ("ROW" column).
    </li>
    <li>
        Better W-L record against division opponents ("vs. Div." column).
    </li>
    <li>
        Better W-L record against conference opponents outside of division ("vs. Conf." column).
    </li>
    <li>
        Better W-L record in inter-conference games ("EC/WC" column).
    </li>
    <li>
        Greater difference between goals for and goals against ("GD" column).
    </li>
    <li>
        Greater amount of goals for ("GF" column).
    </li>
    <li>
        Better W-L record in the last 10 games.
    </li>
    <li>
        Greater amount of consecutive wins, or lesser amount of consecutive losses ("Streak" column).
    </li>
</ol>

<h5>Different Divisions</h5>
<ol class="tiebreakers">
    <li>
        Apply division tiebreakers to teams from the <strong>same division</strong> to determine division rankings.
    </li>
    <li>
        Apply conference tiebreakers to teams from the <strong>same conference</strong>, but <strong>different divisions</strong>, to determine conference rankings.
    </li>
    <li>
        Apply inter-conference tiebreakers to determine league rankings.
    </li>
</ol>