<p>
    In the standings, teams are sorted in descending order of points using the 3-2-1-0 points system, which awards 3 points for regulation wins, 2 points for overtime/shootout wins, and 1 point for overtime/shootout losses. If at any point two or more teams are tied in points, ties shall be broken as described below.
</p>
<p>
    <strong>Note:</strong> These tiebreakers apply to both scenarios (2 teams or 3+ teams) unless otherwise indicated.
</p>

<ol class="tiebreakers">
    <li>
        Lesser amount of games played ("GP" column).
    </li>
    <li>
        Greater amount of wins in regulation only ("W" column).
    </li>
    <li>
        Greater amount of wins in regulation or overtime, excluding the shootout ("ROW" column).
    </li>
    <li>
        Greater amount of wins in total ("W" + "OTW" columns).
    </li>
    <li>
        <strong>Head-to-Head Results:</strong>
        <ol>
            <li>
                Greater amount of points earned in games against the other tied team(s).
            </li>
            <li>
                Greater amount of regulation wins against the other tied team(s).
            </li>
            <li>
                <strong>2 teams only:</strong> Whichever team has scored more goals against the other tied team. <u>Not applicable to 3+ teams.</u>
            </li>
        </ol>
    </li>
    <li>
        Greater difference between goals for and goals against ("GD" column).
    </li>
    <li>
        Greater amount of goals for ("GF" column).
    </li>
</ol>

<h3>Post-Season Stalemates</h3>
<p>
    A post-season stalemate is a tie in the standings at the end of the regular season that remains unbroken after all the standard tiebreakers have been applied to it. These stalemates shall be broken in one of two ways.
</p>

<h4>Tiebreaker Game</h4>
<p>
    A tiebreaker game will be played to break the stalemate only if the outcome determines any one of the following scenarios:
    <ul>
        <li>A conference leader,</li>
        <li>A playoff team over a non-playoff team, or</li>
        <li>The team to be demoted to the SDHL for the following season</li>
    </ul>
    Tiebreaker games will be played with regular-season overtime rules, and the results of these games will count towards the head-to-head stats between the tied teams. However, the results will not count towards the regular-season standings in order to maintain uniformity.
    <br />    
    In addition, a coin flip will determine the home team for this game. For simplicity, the team whose city comes first alphabetically shall be assigned the "heads" side of the coin.
</p>

<h4>Coin Flip</h4>
<p>
    In all other scenarios regarding post-season stalemates, a coin flip will determine the winner of the tiebreaker, with the team whose city comes first alphabetically being assigned the "heads" side of the coin.
</p>