<h4>Two Teams</h4>
<p>
    In the standings, teams are sorted by win percentage, and then W-L record. If at any point two or more teams have the same W-L record, ties shall be broken as follows:

    <ol id="tiebreakers">
        <li>
            Whichever team leads the head-to-head (H2H) series.
        </li>
        <li>
            Greater amount of wins in regulation only.
        </li>
        <li>
            Greater amount of wins in regulation or overtime, excluding the shootout.
        </li>
        <li>
            Better W-L record against certain groups of teams, the order of which will be determined by where the tie is being broken.<br /><br />
            For ties between teams from the <strong>same division</strong>:
            <ol class="group-record-tiebreakers">
                <li>
                    W-L record vs. division opponents.
                </li>
                <li>
                    W-L record vs. conference opponents outside of division.
                </li>
                <li>
                    W-L record vs. teams from the other conference.
                </li>
            </ol>
            <br />
            For ties between teams from the <strong>same conference</strong>, but <strong>different divisions</strong>:
            <ol class="group-record-tiebreakers">
                <li>
                    W-L record vs. conference opponents outside of own division.
                </li>
                <li>
                    W-L record vs. respective division opponents of the tied teams.
                </li>
                <li>
                    W-L record vs. teams from the other conference.
                </li>
            </ol>
            <br />
            For ties between teams from <strong>different conferences</strong>:
            <ol class="group-record-tiebreakers">
                <li>
                    W-L record vs. teams from the other conference.
                </li>
                <li>
                    W-L record vs. respective conference opponents outside of the respective divisions of the tied teams.
                </li>
                <li>
                    W-L record vs. respective division opponents of the tied teams.
                </li>
            </ol>
            <br />
        </li>
        <li>
            Greater difference between goals for and goals against ("goal differential").
        </li>
        <li>
            Greater amount of goals for.
        </li>
        <li>
            Whichever team has won more consecutive games, or lost fewer consecutive games, at the current time.
        </li>
        <li>
            Whichever team has the better goal differential on their current streak.
        </li>
        <li>
            Whichever team has scored more goals on their current streak.
        </li>
    </ol>
</p>

<h4>Three or More Teams</h4>
<p>
    Ties between three (3) or more teams are broken in linear order &mdash; that is the tie between Team A and Team B is broken first, followed by the tie between Team C and whichever of Team A or Team B lost the previous tiebreaker, and so on.
</p>