<p>
    In the standings, teams are sorted in descending order of their win percentage and W-L record. If at any point two or more teams have the same win percentage and W-L record, ties shall be broken as described below.
</p>
<p>
    <strong>Note:</strong> These tiebreakers apply to both scenarios (2 teams or 3+ teams) unless otherwise indicated.
</p>

<ol class="tiebreakers">
    <li>
        Greater amount of wins in regulation only ("RW" column).
    </li>
    <li>
        Greater amount of wins in regulation or overtime, excluding the shootout ("ROW" column).
    </li>
    <li>
        <strong>2 teams:</strong> Whichever team has won more games against the other team.<br />
        <strong>3+ teams:</strong> Best W-L record against the other tied teams.
    </li>
    <li>
        <strong>2 teams only:</strong> Whichever team has scored more goals against the other team.<br />
        <u>Not applicable to 3+ teams.</u>
    </li>
    <li>
        <strong>Second half of season only:</strong>
        <ol>
            <li>
                Better W-L record vs. division rivals ("vs. Div." column).
            </li>
            <li>
                Better W-L record vs. remaining conference opponents ("vs. Conf." column).
            </li>
        </ol>
    </li>
    <li>
        Greater difference between goals for and goals against ("GD" column).
    </li>
    <li>
        Greater amount of goals for ("GF" column).
    </li>
    <li>
        Better W-L record in the last 10 games ("Last 10" column).
    </li>
    <li>
        Greater amount of consecutive wins, or lesser amount of consecutive losses, at the moment ("Streak" column). Winning streaks win this tiebreaker over losing streaks.
    </li>
</ol>

<h3>Post-Season Stalemates</h3>
<p>
    A post-season stalemate is a tie in the standings at the end of the regular season that remains unbroken after all the standard tiebreakers have been applied to it. These stalemates shall be broken in one of two ways.
</p>

<h4>Tiebreaker Game</h4>
<p>
    A tiebreaker game will be played to break the stalemate only if the outcome determines any one of the following scenarios:
    <ul>
        <li>A division or conference leader,</li>
        <li>A playoff team over a non-playoff team, or</li>
        <li>The team to be demoted to SHL2 for the following season</li>
    </ul>
    Tiebreaker games will be played with regular-season overtime rules, and the results of these games will count towards the head-to-head stats between the tied teams. However, the results will not count towards the regular-season standings in order to maintain uniformity.
    <br />    
    In addition, a coin flip will determine the home team for this game, with the team that won the last head-to-head meeting being assigned the "heads" side of the coin.
</p>

<h4>Coin Flip</h4>
<p>
    In all other scenarios regarding post-season stalemates, a coin flip will determine the winner of the tiebreaker, with the team that won the last head-to-head meeting being assigned the "heads" side of the coin.
</p>