@font-face {
    font-family: "Aptos";
    src: url('../fonts/APTOS.TTF') format('truetype');
}

@font-face {
    font-family: "Cambria Math";
    src: url('../fonts/CAMBRIA.TTC') format('truetype');
}

@font-face {
    font-family: "Druk Text";
    src: url('../fonts/DRUKTEXT-MEDIUM-TRIAL.OTF') format('opentype');
}

@font-face {
    font-family: "Druk Wide";
    src: url('../fonts/DRUKWIDE-MEDIUM-TRIAL.OTF') format('opentype');
}

math mi {
    font-family: "Cambria Math";
    font-weight: bold;
}

* {
    font-family: "Aptos", sans-serif;
    font-size: 12pt;
}

footer {
    background-color: black;
    color: #f2f2f2;
}

#content-area {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
}

a {
    padding: 5px;
    text-decoration: none;
    border-radius: 5px;
}

.navbar a:hover:not(.navbar-brand) {
    background-color: #808080;
}

a:hover {
    font-weight: bold;
    background-color: none;
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Druk Wide";
}

body {
    margin-bottom: 60px;
    background-image: url('../images/stanley-cup-captains/2024-fla-barkov.png');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#home-page img {
    width: 25px;
    height: 25px;
}

tbody tr {
    vertical-align: middle;
}

th, td {
    text-align: center;
}

#upcoming-games {
    background-color: rgba(255, 255, 255, 0.5);
}

thead tr {
    border-bottom: 3px solid black;
}

tbody tr {
    border-bottom: 1px solid #b3b3b3;
}

tbody tr:hover:not(.no-games-today) {
    background-color: #f2f2f2;
}

img {
    margin: auto;
}

.card {
    margin: 10px;
    padding: 10px;
    vertical-align: top;
    display: inline;
}

.card:hover:not(#home-page .card, #team-drop-zone) {
    box-shadow: 0 0 10px black;
}

.game-date {
    background-image: linear-gradient(to right, #e6e6e6, rgba(0, 0, 0, 0));
    text-align: center;
    width: 50px;
}

.game-date .month {
    font-size: 10pt;
}

.game-date .day {
    font-size: 14pt;
}

.game-date .year {
    font-size: 9pt;
}

.game-date .date {
    margin-top: 50%;
    margin-bottom: 50%;
}

.score-card {
    width: 125px;
    height: 100px;
}

.score-card .container {
    margin: 0;
    width: 90%;
}

.score-card .row, .score-card .col {
    text-align: center;
}

.score-card img {
    width: 25px;
    height: 25px;
}

.score-card .score {
    font-size: 18pt;
}

.score-card .status {
    font-size: 10pt;
    background-color: #f2f2f2;
    text-align: center;
}

.game-status-link {
    font-size: 10pt;
}

.schedule th, .schedule td {
    text-align: center;
    vertical-align: middle;
}

.schedule td {
    line-height: 10px;
}

.schedule-team-name {
    width: 225px;
}

.schedule-team-logo {
    width: 30px;
    height: 30px;
}

.schedule-score, .pregame {
    font-size: 20pt;
}

.schedule-score {
    width: 70px;
}

.pregame {
    width: 140px;
}

.schedule-controls {
    display: inline;
    margin-top: 0;
}

.schedule .actions-regular-season {
    width: 504px;
}

.schedule .actions-playoffs {
    width: 275px;
}

.schedule .series {
    width: 200px;
}

.pagination {
    margin: auto;
    width: 80%;
    height: 80%;
}

.schedule-controls .col {
    margin: auto;
    text-align: center;
    align-items: center;
}

#date-range {
    width: 225px;
    text-align: center;
}

.game {
    text-align: center;
    vertical-align: middle;
}

.game .logo {
    width: 100px;
    height: 100px;
}

.game .score {
    font-size: 60pt;
    padding: 0;
}

.game .away-team {
    text-align: right;
}

.game .home-team {
    text-align: left;
}

.game .away-team, .game .home-team {
    margin-top: auto;
    margin-bottom: auto;
}

.game .status {
    font-size: 16pt;
}

.game .team-logo {
    display: inherit;
    width: 175px;
}

.standings {
    text-align: center;
}

.standings .ranking {
    width: 46px;
}

.standings .team-logo {
    width: 45px;
    height: 45px;
    text-align: center;
    vertical-align: middle;
}

.standings .team-name {
    text-align: left;
    width: 210px;
}

.champion {
    font-family: Aptos;
    font-weight: bold;
    font-size: 14pt;
}

.champion-card {
    border-radius: 10px;
    background-image: url('../images/stanley_cup.png');
    background-color: rgba(242, 242, 242, 0.8);
}

.champions-logo {
    margin: 5px;

    width: 75px;
    height: 75px;
}

.champion-round-logo {
    width: 20px;
    height: 20px;
}

.schedule .date {
    width: 250px;
}

.schedule .status {
    width: 115px;
}

.playoff-matchup {
    text-align: center;
}

.bracket .playoff-matchup, .conference-semifinals {
    width: 181.15px;
}

.playoff-matchup h3 {
    font-family: "Druk Text";
    margin-top: -8px;
}

.conference-semifinals {
    height: 125.6px;
    margin: auto;
}

.playoff-matchup .team {
    height: 40px;
}

.playoff-matchup .teams {
    margin-top: 20px;
}

.playoff-matchup .seed-number {
    margin-top: -5px;
    margin-bottom: 5px;
    font-family: "Druk Wide";
}

.playoff-matchup .vs {
    font-family: "Druk Wide";
    font-size: 10pt;
}

.playoff-matchup .team-logo {
    width: 50px;
    height: 50px;
}

.conference {
    margin-top: 40px;
    text-align: left;
}

.tiebreakers li:not(.group-record-tiebreakers li) {
    margin-top: 10px;
}

.schedule {
    /*margin-top: 50px;*/
    text-align: center;
}

.schedule .col,
.schedule .col-2,
.schedule .col-5,
.schedule .col-6,
.schedule .col-8 {
    margin: auto;
}

.schedule .team {
    width: 300px;
}

.schedule .team-logo {
    width: 30px;
    height: 30px;
}

.schedule .team-name {
    text-align: left;
    font-size: 14pt;
}

.schedule .score {
    font-size: 20pt;
    text-align: center;
}

.schedule-game-date {
    margin-top: 30px;
}

.game-link {
    font-weight: bold;
    margin: 20px 10px;
}

.team-schedule {
    width: 750px;
    margin: auto;
}

.team-schedule .result, .team-schedule .score, .head-to-head .results .score {
    font-weight: bold;
    font-size: 18pt;
}

.head-to-head .results tr {
    line-height: 20px;
}

.head-to-head .team-logo {
    width: 35px;
    height: 35px;
}

.team-schedule .opponent-name, #h2h-results .opponent-name {
    width: 215px;
    text-align: right;
}

.team-schedule .opponent-logo, #h2h-results .opponent-logo {
    width: 30px;
}

.team-schedule .result {
    width: 75px;
}

.team-schedule .score {
    width: 160px;
}

.team-schedule td {
    vertical-align: middle;
}

.team-schedule tbody tr {
    line-height: 8px;
}

.away-game {
    background-color: #bfbfbf;
}

.win {
    color: green;
}

.loss {
    color: red;
}

.alignments h3:not(.alignments .alignment-team-name) {
    margin-top: 30px;
}

.alignments .conference {
    margin-top: 0;
}

.alignments .conference .division img {
    width: 60px;
    height: 60px;
}

.alignments .conference .division .team-info {
    margin-top: 15px;
    margin-bottom: 15px;
}

.alignment-team-name {
    font-family: "Druk Text";
    margin-top: -5px;
}

#scheduling-formula h4 {
    margin-top: 30px;
}

.fixed-column {
    width: 58px;
}

.record-column {
    width: 82px;
}

.game .team-name {
    font-family: "Druk Text";
}

.h2h-logo {
    width: 150px;
    height: 150px;
    margin: 20px;
}

.h2h-logos .col {
    text-align: center;
}

.h2h-logos {
    border-bottom: none;
}

.h2h-stats .team {
    width: 500px;
}

.h2h-stats tbody tr {
    vertical-align: middle;
}

.h2h-stats tbody td {
    font-family: "Druk Wide";
    font-size: 18pt;
}

.nav-pills {
    margin: 15px;
}

#home-page .team-stats {
    width: 85px;
}

.badge {
    margin-left: 10px;
}

.accordion {
    margin-top: 60px;
}

#team-schedule-options .col, #team-schedule-options .col-12 {
    text-align: center;
}

#standings-options {
    margin-top: 20px;
}

#standings-area a, .schedule-team-name a {
    color: black;
}

#standings-area h3 {
    margin-top: 30px;
}

#standings-area h5 {
    margin-top: 20px;
}

#playoff-bracket {
    width: 100%;
}

.bracket .card {
    margin: auto
    width: 40%;
}

.change-playoff-status {
    color: black;
}

#standings-links {
    text-align: center;
}

#schedule-widget a, #standings-widget a {
    color: black;
}

#standings-widget a {
    font-family: "Druk Wide";
    font-weight: 100;
}

#schedule-widget .logo {
    width: 40px;
}

#schedule-widget .score {
    font-size: 20pt;
    width: 65px;
}

#schedule-widget .table tbody tr {
    line-height: 10px;
}

.standings-widget-table .team-name {
    font-family: 'Druk Wide';
    color: black;
}

.team-stats-grid .col-4 {
    font-size: 10pt;
    display: table-cell;
    vertical-align: middle;
}

.team-stats-grid .team-stat {
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    margin: 5px;
}

.team-stats-grid .stat {
    font-family: "Druk Wide";
    font-size: 18pt;
}

.team-stats-grid .goal-ratio {
    font-family: "Druk Text";
}

.standings-record {
    border-bottom: 1px solid #b3b3b3;
}

.playoff-cutoff {
    border-bottom: 2px solid black;
}

.leader-cutoff {
    border-bottom: 2px dashed black;
}

.game-controls .col {
    text-align: center;
}

.game-controls .btn {
    margin: 5px;
    width: 60%;
}

.game-controls .exit-button {
    width: 40%;
    margin-top: 10px;
}

.muted-link, .muted-link:hover {
    color: black;
}

.game #game-notes {
    font-size: 15pt;
}

.game .status {
    font-size: 20pt;
}

.game-number {
    font-weight: bold;
}

.card .container .playoff-matchup {
    border-radius: 20px;
    vertical-align: middle;

    width: 175.5px;
    height: 130.5px;
}

.card .container .playoff-matchup .col {
    margin: auto;
}

.card .container .playoff-matchup .team-code {
    font-family: "Druk Wide";
    font-size: 14pt;
}

.card .container .playoff-matchup .wins {
    font-family: Aptos;
    font-size: 20pt;
}

.playoff-team .logo {
    width: 30px;
    height: 30px;
}

.sycamore-cup-final {
    border-radius: 20px;
    text-align: center;
}

.sycamore-cup-final .logo {
    width: 75px;
    height: 75px;
}

.sycamore-cup-final .series-score {
    font-size: 40pt;
}

.team-card {
    margin: 2.5px 5px;
    width: 80%;
}

#team-drop-zone {
    font-size: 10pt;
    text-align: center;
    padding: 5px;
}

.drop-active {
    color: blue;
    background-color: #ccefff;
    font-weight: bold;
    border: 1px dashed blue;
}

.h2h-record, .h2h-aggregate {
    font-size: 16pt;
}

.h2h-record {
    font-family: "Druk Wide Trial";
}

.h2h-aggregate {
    font-weight: bold;
}

.unconfirmed-game {
    background-color: #bfbfbf;
}

.current-game {
    background-color: #ffffe6;
}

.current-game:hover {
    background-color: #cccc00;
}