@using SycamoreHockeyLeaguePortal.Models.InputForms
@model PlayoffStatus_UpdateForm

@{
    ViewData["Title"] = "Playoff Status";
}

<div class="container">
    <div class="row">
        <div class="col-1">
            <img src="~/@Model.Team.LogoPath" 
            title="@Model.Team logo" 
            alt="@Model.Team" 
            width="85" height="85" />
        </div>
        <div class="col">
            <h1>@Model.Season @Model.Team</h1>
            <h4>Change Playoff Status</h4>
        </div>
    </div>
</div>

<div>
    <hr />
    <form asp-controller="Standings" asp-action="PlayoffStatus" method="post">
        <input type="hidden" asp-for="Season" />
        <input type="hidden" asp-for="Team" />
        <input type="hidden" asp-for="ViewBy" />
        
        <div class="form-group">
            @if (Model.Season == 2021)
            {
                <div class="form-check">
                    <input class="form-check-input" type="radio" asp-for="Status" id="presidents-trophy" value="z" />
                    <label class="form-check-label" asp-for="Status" for="presidents-trophy">
                        Clinched President's Trophy
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" asp-for="Status" id="division" value="y" />
                    <label class="form-check-label" asp-for="Status" for="division">
                        Clinched division
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" asp-for="Status" id="playoff-spot" value="x" />
                    <label class="form-check-label" asp-for="Status" for="conference">
                        Clinched playoff spot
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" asp-for="Status" id="not-clinched" value="" selected />
                    <label class="form-check-label" asp-for="Status" for="not-clinched">
                        Not clinched
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" asp-for="Status" id="eliminated" value="e" />
                    <label class="form-check-label" asp-for="Status" for="eliminated">
                        Eliminated
                    </label>
                </div>
            }
            else
            {
                <div class="form-check">
                    <input class="form-check-input" type="radio" asp-for="Status" id="presidents-trophy" value="P" />
                    <label class="form-check-label" asp-for="Status" for="presidents-trophy">
                        Clinched President's Trophy
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" asp-for="Status" id="conference" value="Z" />
                    <label class="form-check-label" asp-for="Status" for="conference">
                        Clinched conference
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" asp-for="Status" id="division" value="Y" />
                    <label class="form-check-label" asp-for="Status" for="division">
                        Clinched division
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" asp-for="Status" id="home-ice" value="X" />
                    <label class="form-check-label" asp-for="Status" for="home-ice">
                        Clinched home-ice advantage
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" asp-for="Status" id="playoff-spot" value="x" />
                    <label class="form-check-label" asp-for="Status" for="playoff-spot">
                        Clinched playoff spot
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" asp-for="Status" id="not-clinched" value="" selected />
                    <label class="form-check-label" asp-for="Status" for="not-clinched">
                        Not clinched
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" asp-for="Status" id="eliminated" value="e" />
                    <label class="form-check-label" asp-for="Status" for="eliminated">
                        Eliminated
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" asp-for="Status" id="demoted" value="d" />
                    <label class="form-check-label" asp-for="Status" for="demoted">
                        Demoted
                    </label>
                </div>
            }
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
</div>