@{
    ViewData["Title"] = "Playoff Format";
}

<h1>@ViewBag.Title</h1>

<h4>Assigning Seeds</h4>
<p>
    16 teams will qualify for the Sycamore Cup Playoffs, 8 teams per conference. Seeds in each conference will be assigned as described below:
    <ul>
        <li><strong>#1 seed:</strong> Best division leader</li>
        <li><strong>#2 seed:</strong> Second-best division leader</li>
        <li><strong>#3 seed:</strong> Third-best division leader</li>
        <li><strong>#4-#8 seeds:</strong> Best 5 remaining teams</li>
    </ul>
</p>

<h4>Conference Quarterfinal Matchups</h4>
<ul>
    <li>#1 seed vs. #8 seed</li>
    <li>#4 seed vs. #5 seed</li>
</ul>
<ul>
    <li>#2 seed vs. #7 seed</li>
    <li>#3 seed vs. #6 seed</li>
</ul>
<p>
    The bracket is fixed, meaning that teams are not reseeded after the Conference Quarterfinals.
</p>
<p>
    At the end of the Conference Quarterfinals, the winner of the #1 vs. #8 matchup will play against the winner of the #4 vs. #5 matchup, and the winner of the #2 vs. #7 matchup will play against the winner of the #3 vs. #6 matchup.
</p>