@{
    ViewData["Title"] = "Tiebreakers";
}

<h1>@ViewBag.Title</h1>

<p style="margin-top: 30px;">
    In the standings, teams are sorted by win percentage, and then W-L record. If at any point two or more teams have the same W-L record, ties shall be broken as follows:

    <ol id="tiebreakers">
        <li>
            Greater amount of head-to-head (H2H) wins.
        </li>
        <li>
            Greater sum of goals scored in all H2H games played this season ("H2H aggregate").
        </li>
        <li>
            Greater sum of goals scored in H2H wins only. For example, if Team A and Team B played each other 4 times, and Team A won two of the games 5-3 and 3-2, respectively, while Team B won two of the games 4-2 and 2-1, respectively, Team A gets the tiebreaker because they scored a total of 8 goals in the games they won against Team B, compared to the total of 6 goals that Team B scored in the games they won against Team A.
        </li>
        <li>
            Greater amount of wins in regulation only.
        </li>
        <li>
            Greater amount of wins in regulation or overtime, excluding the shootout.
        </li>
        <li>
            Better W-L record against certain groups of teams, the order of which will be determined by where the tie is being broken.<br /><br />
            For ties between teams from the <strong>same division</strong>:
            <ol class="group-record-tiebreakers">
                <li>
                    W-L record vs. division opponents.
                </li>
                <li>
                    W-L record vs. conference opponents outside of division.
                </li>
                <li>
                    W-L record vs. teams from the other conference.
                </li>
            </ol>
            <br />
            For ties between teams from the <strong>same conference</strong>, but <strong>different divisions</strong>:
            <ol class="group-record-tiebreakers">
                <li>
                    W-L record vs. conference opponents outside of own division.
                </li>
                <li>
                    W-L record vs. respective division opponents of the tied teams.
                </li>
                <li>
                    W-L record vs. teams from the other conference.
                </li>
            </ol>
            <br />
            For ties between teams from <strong>different conferences</strong>:
            <ol class="group-record-tiebreakers">
                <li>
                    W-L record vs. teams from the other conference.
                </li>
                <li>
                    W-L record vs. respective conference opponents outside of the respective divisions of the tied teams.
                </li>
                <li>
                    W-L record vs. respective division opponents of the tied teams.
                </li>
            </ol>
            <br />
        </li>
        <li>
            Greater difference between goals for and goals against ("goal differential").
        </li>
        <li>
            Greater amount of goals for.
        </li>
        <li>
            Whichever team has won more consecutive games, or lost fewer consecutive games, at the current time.
        </li>
        <li>
            Whichever team has the better goal differential on their current streak.
        </li>
        <li>
            Whichever team has scored more goals on their current streak.
        </li>
    </ol>
</p>